<b>Assignment 1 Question 1</b>

In [1]:
def numbersDivisibleBy7AndNotBy5(startingNum, endingNum) : 
    listOfNums = []
    if (startingNum < 2000) | (endingNum > 3200):
        print ('Range should be between 2000 and 3200')
        return listOfNums
    for i in range(startingNum,endingNum+1):
        if (i%7 == 0) & (i%5 != 0):
            listOfNums.append(i)
    return listOfNums

In [3]:
print(','.join(str(i) for i in numbersDivisibleBy7AndNotBy5(2000,3200)))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

<b>Assignment 1 Question 2 Method 1</b>

In [5]:
firstName = input("Enter First Name : ")

Enter First Name : Sunita

In [6]:
lastName = input("Enter Last Name : ")

Enter Last Name : Dutta

In [7]:
def reverseTheName(firstName, lastName) :
    return lastName + ' ' + firstName

In [5]:
print("Your name in reverse: " + reverseTheName(firstName,lastName))

Your name in reverse: Dutta Sunita

In [8]:
reverseTheName(firstName, lastName)

'Dutta Sunita'

<b>Assignment 1 Question 2 Method 2</b>

In [16]:
def reverseName(name): 
    return ' '.join(name.split(" ")[::-1])

In [19]:
name = 'Sunita Dutta'
reverseName(name)

'Dutta Sunita'

<b>Assignment 1 Question 3</b>

In [23]:
pi = 22/7
def volumeOfSphere(diameter):
    radius = diameter/2
    volume=4/3*pi*(radius**3)
    return volume

In [25]:
print("Volume of sphere of diameter 15 is :" + str(volumeOfSphere(15)))
print("Volume of sphere of diameter 20 is :" + str(volumeOfSphere(20)))
print("Volume of sphere of diameter 25 is :" + str(volumeOfSphere(25)))

Volume of sphere of diameter 15 is :1767.8571428571427
Volume of sphere of diameter 20 is :4190.47619047619
Volume of sphere of diameter 25 is :8184.523809523808

<b>Assignment 1 Question 4</b>

In [88]:
inputvalue = input("Please input comma separated numbers:")

Please input comma separated numbers:111,222,12,43,12.555,abc,34.56,77

In [86]:
def is_number(s):
    """ Returns True if string is a number. """
    try:
        float(s)
        return True
    except ValueError:
        return False

In [89]:
listOfNumbers = [float(i) for i in (inputvalue.split(',')) if (is_number(i))]
print(listOfNumbers)

[111.0, 222.0, 12.0, 43.0, 12.555, 34.56, 77.0]

<b>Assignment 1 Question 5</b>

In [148]:
#Self try - wrong
char = '* '
for i in [0,4]:
    for j in range(6):
        #print(str(i) + ' ' + str(abs(j-i)), end=':')
        print(abs(j-i) * char)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

*

In [153]:
#From net - correct
# Initialize the first five rows
n = 5

# Start the loop to print the first five rows
for i in range(5):
    for j in range(i):
        print('* ', end="")
    print('')

# Start the loop to print the remaining rows in decreasing order of stars
for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

<b>Assignment 1 Question 6</b>

In [112]:
inputWord = input("Enter a word:")

Enter a word:Ineuron

In [113]:
inputWord[::-1]

'noruenI'

<b>Assignment 1 Question 7</b>

In [114]:
strVal = """
WE, THE PEOPLE OF INDIA,
      having solemnly resolved to constitute India into a SOVEREIGN, !
            SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
             and to secure to all its citizens
"""

In [115]:
print(strVal)

WE, THE PEOPLE OF INDIA,
      having solemnly resolved to constitute India into a SOVEREIGN, !
            SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
             and to secure to all its citizens